@model lab5.ViewModels.GsmViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3> Gsm</h3>
    @if (User.IsInRole("admin"))
    {
        <a asp-action="Create">Добавить</a>
    }

    <div class="gsm">
        <fieldset class="p-2 float-right">
            <form method="post" asp-route-page="@Model.PageViewModel.PageNumber">
                <label asp-for="GsmFilterViewModel.TypeOfGsm"></label>
                <input name="TypeOfGsm" value="@Model.GsmFilterViewModel.TypeOfGsm" />

                <label asp-for="GsmFilterViewModel.TTkofType"></label>
                <input name="TTkofType" value="@Model.GsmFilterViewModel.TTkofType" />

                <input type="submit" value="Filter" class="btn btn-primary" />
            </form>
        </fieldset>
    </div>

    <table border="1">
        <tr class="header">
            <td>
                <a asp-action="Index" asp-route-sortState="@Model.SortViewModel.TypeOfGsmSort" asp-route-page="@Model.PageViewModel.PageNumber" class="nav-link text-black">
                    Type of GSM
                </a>
            </td>
            <td>
                <a asp-action="Index" asp-route-sortState="@Model.SortViewModel.TTkofTypeSort" asp-route-page="@Model.PageViewModel.PageNumber" class="nav-link text-black">
                    TTK of Type
                </a>
            </td>

        </tr>
        @foreach (lab5.Models.Gsm g in Model.Gsms)
        {
            <tr>
                <td><p>@g.TypeOfGsm</p></td>
                <td><p>@g.TTkofType</p></td>
                <td><a asp-action="Edit" asp-route-id="@g.GSmid" asp-route-page="@Model.PageViewModel.PageNumber" class="btn btn-warning">Edit</a></td>
                <td><a asp-action="Delete" asp-route-id="@g.GSmid" asp-route-page="@Model.PageViewModel.PageNumber" class="btn btn-warning">Delete</a></td>
            </tr>
        }
    </table>
    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           class="btn btn-outline-dark">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Назад
        </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
           class="btn btn-outline-dark">
            Вперед
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }
</div>

